.LoginBtn {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1rem;
    border:none;
    background: none;
    padding:5px 10px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoginBtn:hover {
    background: #e4e4e4;
}

.LoginText {
    font-size: 0.75rem;
}